<h1>Edit Room</h1>

<form action="/rooms/<%= @room.id%>" method="post">
`<input type="hidden" name="_method" value="put">
Room: <input type="text" name="room[name]" value="<%= @room.name %>">


<input type="submit" value="Change">
</form>	
