<h1>Create New Room</h1>

<form action="/rooms" method="POST">
	<label>Name: </label>
	<input type="text" name="name"><br>
	<label>Description: </label>
	<textarea name="body"></textarea><br>
	<label>Price: </label>
	<input type="text" name="price"><br>
	<input type="submit" value="Create Room">
</form>